@model HolidayProject.Models.PropertyListingModel

<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Blurb</p>
            <a class="btn btn-primary"
               asp-controller="PropertyListing"
               asp-action="ViewPropertyDetails"
               asp-route-id="@Model.Id">
                Details
            </a>
        </div>
    </div>
</div>
<br />
