@model IEnumerable<HolidayProject.Models.PropertyListingModel>

@{
    ViewBag.Title = "List of Properties";
}

@await Component.InvokeAsync("DateRange")
<br />
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var property in Model)
            {
                <partial name="_PropertyListingPartial" model="@property" />
            }
        </div>
    </div>
</div>
