@model IEnumerable<HolidayProject.Models.PropertyListingModel>

@{
    ViewBag.Title = "List of Properties";
}

@await Component.InvokeAsync("DateRange")
<br />
@foreach (var property in Model)
{
    <div class="property">
        <h4>@property.Name</h4>
        <a asp-controller="PropertyListing"
           asp-action="ViewPropertyDetails"
           asp-route-id="@property.Id">
            View Details
        </a>
    </div>
}
